
.navbar{
    color: #073958
}
.darkblue{
    color: #073958;
}
.lightblue{
    color: #008BD1;
}

.lightyellow{
    color: #FEDB5B;
}

.goldyellow{
    color: #FEC10D;
}

body {
    background: #7990A2;
  }
  
h1 {
    color: #008BD1;
  }

.navbar-brand{
    color: #008BD1;
}

.navbar-nav li a{
    color: #008BD1;
}